.main-block {
    margin: 20px;
}
.reg-txt {
    display: block;
    text-align: center;
}

.fa-icons {
  font-size: 25px;
}

.fa-add {
  color: #30bb30;
}

.fa-del {
  color: red;
}

.selected-subject-block {
  border: 1px solid #bfbfbf;
  padding: 10px;
  margin: 10px;
}

.submit-btn {
  text-align: center;
  outline: none;
}

.rad-5 {
    border-radius: 5px
}