<div class="main-block selected-subject-block rad-5">
  <span class="reg-txt">
    <h4>
      Add Student
    </h4>
  </span>
  <form [formGroup]="addStudentForm">
    <table class="table">
      <thead></thead>
      <tbody>
        <tr>
          <td colspan="3">
            <mat-form-field>
              <input matInput placeholder="Student Name" formControlName="student_name" required>
            </mat-form-field>
          </td>
          <td colspan="3">
            <mat-form-field>
              <input matInput placeholder="Roll Number" formControlName="roll_no" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <mat-form-field>
              <mat-select placeholder="Session" [(value)]="selectedSession" formControlName="session">
                <mat-option value="2018-19">2018-19 </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td colspan="3">
            <mat-form-field>
              <mat-select placeholder="Class" [(value)]="selectedClass" formControlName="class_name">
                <mat-option *ngFor="let class of classesList" [value]="class.id">
                  {{class.val}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="submit-btn" *ngIf="this.addStudentForm.valid">
      <button class="btn btn-primary" (click)="onClickSubmit()">
        SUBMIT
      </button>
    </div>

  </form>
</div>