<div class="main-block rad-5">
  <span class="reg-txt">
    <h4>
      Student Marks Form
    </h4>
  </span>

  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel> Roll Number</ng-template>
        <mat-form-field>
          <input matInput placeholder="Roll Number" formControlName="rollNumber" (blur)="onBlurRollNumber()" required>
        </mat-form-field>
        <div>
          <button class="first-btn btn btn-primary" mat-button matStepperNext (click)="onClickSubmit('GET_STU_INFO')">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [optional]="isOptional">

      <ng-template matStepLabel>Student Information</ng-template>
      <table class="table">
        <thead> </thead>
        <tbody>
          <tr>
            <td>Roll Number: </td>
            <td> {{studentInfo?.roll_no}}</td>
          </tr>
          <tr>
            <td>Student Name: </td>
            <td> {{studentInfo?.name}}</td>
          </tr>
          <tr>
            <td>Class: </td>
            <td> {{getClassNameById(studentInfo?.class_name)}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <button mat-button matStepperPrevious class="first-btn btn btn-primary">Back</button>
        <button mat-button matStepperNext class="btn btn-primary">Next</button>
      </div>

    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Select Session and Term</ng-template>
      <form [formGroup]="thirdFormGroup">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td colspan="3">
                <mat-form-field>
                  <mat-select placeholder="Session" [(value)]="selectedSession" (selectionChange)="onDropdownSelection()"
                    formControlName="session" required>
                    <mat-option [value]="2018-19">2018-19 </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <mat-form-field>
                  <mat-select placeholder="Class" [(value)]="selectTerm" (selectionChange)="onDropdownSelection()"
                    formControlName="term">
                    <mat-option *ngFor="let term of termsList" [value]="term.id">
                      {{term.val}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <div>
        <button mat-button matStepperPrevious class="first-btn btn btn-primary">Back</button>
        <button mat-button matStepperNext class="btn btn-primary">Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <ng-template matStepLabel>Enter Marks</ng-template>
      <form [formGroup]="fourthFormGroup">
        <table class="table">
          <thead>
            <th>Subject</th>
            <th>Marks</th>
            <th>Absent</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <mat-form-field>
                  <mat-select placeholder="Subject Name" formControlName="subject_id">
                    <mat-option *ngFor="let s of allSubjects" [value]="s.subject_id">
                      {{s.subject_label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Marks" formControlName="subject_marks">
                </mat-form-field>
              </td>
              <td>
                <mat-checkbox formControlName="absent_check" (click)="onClickAbsentBtn()"></mat-checkbox>
              </td>
              <td>
                <i (click)="onClickAddSubject()" class="fa-icons fa-add fa fa-check-circle"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="selected-subject-block" *ngIf="selectedSubjects?.length > 0">
          <h5>Selected Subjects ({{selectedSubjects?.length}}):</h5>
          <table class="table">
            <thead>
              <th>Subject Name</th>
              <th>Marks</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let s of selectedSubjects">
                <td>
                  {{s.subject_id}}
                </td>
                <td>
                  {{s.subject_marks}}
                </td>
                <td>
                  <i (click)="onClickRemoveSubjectFromList(s)" class="fa-icons fa-del fa fa-trash-o"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </form>
      <div>
        <button mat-button matStepperPrevious class="first-btn btn btn-primary">Back</button>
        <button mat-button (click)="onClickSubmitMarks()" class="first-btn btn btn-primary">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>