.main-block {
  border: 1px solid #bfbfbf;
  padding: 10px;
  margin: 20px;
}

.main-block {
  margin: 20px;
}

.reg-txt {
  display: block;
  text-align: center;
}

.submit-btn {
  text-align: center;
  outline: none;
  margin-bottom: 25px;
}

.rad-5 {
  border-radius: 5px
}

.roll-no-cell {
  text-align: center;
}

.first-btn {
  margin-right: 10px;
}

.fa-icons {
  font-size: 25px;
}

.fa-add {
  color: #30bb30;
}

.fa-del {
  color: red;
}